# ignoring  python cache
__pycache__

# ingoring ide related and virtual env files
.idea
.vscode
.venv
venv

# module build data info
build/*
*.egg-info
dist

# Files to for personal use
test.py
tasks.md